<!doctype html>
<html>

<head>
  <title>Gratitude Journal</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span></span>Gratitude Journal</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <h4>Begin your day with a gratitude</h4>
      
      <form action="/createDiaryEntry" method="POST">
        <input type="date" placeholder="Today's Date" name="date" required>
        <section>
          <p>What are the things you are grateful for today?</p>
          <textarea name="entry1" rows="3" cols="50"><%=current?.entry1%></textarea>
        </section>
        <button type="submit">Submit</button>
      </form>

      <h4>Revisit old entries for refelection</h4>

      <div class="col-sm-6">
        <h3>Journal Entries</h3>
        <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span class="date"><%= messages[i].date%></span>
                
              <span>
                <%= messages[i].msg %>
              </span>
              <span>
                <%= messages[i].entry%>
              </span>
              <span><button class="get-entry" aria-hidden="true">Get Entry</button></span>
              <!-- <span><button><i class="fa fa-trash" aria-hidden="true"></i></button></span> -->
            </li>
            <% } %>
        </ul>

      </div>

    </div>

    <script src="main.js"></script>

</body>
<!-- Inspiration: Dave Asprey & Sherrell Primo -->
</html>